# Ignore maven target folder
target/

# Ignore all .log files
*.log

# Ignore the 'node_modules' directory
node_modules/

# Ignore the 'build' directory and its contents
build/

# Ignore a specific file
secrets.txt

# Ignore IDE-specific files (e.g., VS Code)
.vscode/
